<html>
<head>
<title>Torrent Stream Test</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<script language='javascript' src='/socket.io/socket.io.js'></script>
<script language='javascript' src='js/socket.io-stream.js'></script>
<script language='javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>
<script language='javascript'>
	var app = angular.module('Streamer', []);
	app.controller('sCtrl',function($scope){
		$scope.searchIO = io.connect(location.href+'search');
		$scope.streamIO = io.connect(location.href+'stream');
		$scope.query = "";
		$scope.videoUri = null;
		$scope.label = {msg:''};
		$scope.selected = null; 
		$scope.tmdb = null;
		
		$scope.streamIO.on('progress',function(obj){
			$scope.label = obj;
			$scope.$apply();
		});
		$scope.streamIO.on('play',function(vidUrl){
			$scope.videoUri = vidUrl;
			$scope.$apply();
			document.all.video.play();
		});
		
		$scope.searchIO.on('progress',function(obj){
			$scope.label.msg = obj.msg;
			$scope.$apply();
		});
		$scope.searchIO.on('tmdb:search',function(err,res){
			if(err){$scope.label.msg = err; $scope.$apply();return;}
			$scope.tmdb = res;
			$scope.$apply();
		});
		$scope.searchIO.on('tmdb:seasons',function(err,res){
			if(err){$scope.label.msg = err; $scope.$apply();return;}
			if($scope.selected){
				$scope.selected['seasons'] = res;
			}
			$scope.$apply();
		});
		$scope.searchIO.on('tmdb:episodes',function(err,res){
			if(err){$scope.label.msg = err; $scope.$apply();return;}
			console.log(res);
			if($scope.selected){
				$scope.selected['episodes'] = res;
			}
			$scope.$apply();
		});
		
		$scope.play = function(item){
			if(item.hasOwnProperty('media_type')){
				if(item.media_type == 'movie'){
					$scope.streamIO.emit('start',item.torrent.magnet);
				}else if(item.media_type == 'tv'){
					$scope.selected = item;
				}
			}
		}
		
		$scope.select = function(item){
			if($scope.selected){
				if($scope.selected.episodes){
					$scope.selected.episodes.selected = item;
					$scope.streamIO.emit('start',item.torrent.magnet)
				}else if($scope.selected.seasons){
					$scope.selected.seasons.selected = item;
					console.log('getting episodes: '+$scope.selected.id+' '+item.season_number);
					$scope.searchIO.emit('tmdb:listEpisodes',$scope.selected.name,$scope.selected.id,item.season_number);
				}
			}else{
				$scope.selected = item;
				if(item.media_type){
					if(item.media_type == 'tv'){
						$scope.searchIO.emit('tmdb:listSeasons',item.id);
					}
				}
			}
		}
		
		$scope.back = function(){
			if($scope.selected.episodes){
				if($scope.selected.episodes.selected){
					$scope.selected.episodes.selected = null;
				}else{
					$scope.selected.episodes = null;
					$scope.selected.seasons.selected = null;
				}
			}else if($scope.selected.seasons){
				if($scope.selected.seasons.selected){
					$scope.selected.seasons.selected = null;
				}else{
					$scope.selected = null;
				}
			}else{
				$scope.selected = null;
			}
		}
	});
</script>
</head>
<body>
	<div class="container" ng-app="Streamer" ng-controller="sCtrl">
		<div ng-show="(!videoUri)">
			Search: <input type="input" name="query" ng-model="query">
			<input type="button" value="search" ng-click="searchIO.emit('tmdb:search',query)">
		</div>
		<div ng-show="(videoUri)">
			<input type="button" value="back" ng-click="videoUri = null">
		</div>
		<br>
		<div ng-show="(selected) && (!videoUri)">
			<p>{{selected.overview}}<p><br>
			<div ng-show="(!selected.seasons)">
				<p>Loading...</p>
			</div>
			<div ng-show="(selected.seasons) && (!selected.episodes) && (!videoUri)" class="row">
				<div class="col-sm-4" ng-repeat="season in selected.seasons.seasons">
					<div class="thumbnail" ng-show="(season.poster_path)">
						<img ng-click="select(season)" src="http://image.tmdb.org/t/p/w185/{{season.poster_path}}">
						<div class="caption">
							<h3>Season {{season.season_number}}</h3>
						</div>
					</div>
				</div>
			</div>
			<div classs="row" ng-show="(selected.episodes) && (!videoUri)">
				<div class="col-sm-4" ng-repeat="episode in selected.episodes">
					<div class="thumbnail" ng-show="(episode.still_path)">
						<img ng-click="select(episode)" src="http://image.tmdb.org/t/p/w185/{{episode.still_path}}">
						<div class="caption">
							<h3>Ep. {{episode.episode_number}}: {{episode.name}}</h3>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-primary" ng-click="back()">Back</button>
			<button class="btn btn-primary" ng-click="streamIO.emit('start',selected.torrent.magnet)" ng-show="(selected.episde_number) || (selected.media_type =='movie')">Play</button>
		</div>
		<div class="row" ng-show="(!selected) && (!videoUri)">
			<div ng-repeat="res in tmdb">
				<div class="col-sm-4" ng-show="(res.poster_path)">
					<div class="thumbnail">
						<img ng-click="select(res)" src="http://image.tmdb.org/t/p/w185/{{res.poster_path}}" ng-show="(res.poster_path)">
						<div class="caption">
							<h3 ng-show="(res.title)">{{res.title}}</h3>
							<h3 ng-show="(res.name)">{{res.name}}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<video id='video' autoplay controls src="{{videoUri}}"  ng-show="(videoUri)"></video>
	</div>
</body>
</html>
